In [2]:
import pandas as pd

purchase = pd.read_csv('C:/cakd7/2차 프로젝트/purchase_유지_연도 및 금액타입 포함.csv')
purchase

,Unnamed: 0,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28255863,28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가
28255864,28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가
28255865,28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가
28255866,28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가
28255867,28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가

In [3]:
purchase.columns

Index(['Unnamed: 0', 'CUSTNO', 'ASSO', 'STCODE', 'RNO', 'BBCL', 'BCL', 'MCL',
       'SCL', 'TYPE', 'PURDATE', 'PURYEAR', 'QUARTER', 'PURMONTH', 'PURHOUR',
       'PURAMT', 'PRICE_TYPE'],
      dtype='object')

In [4]:
purchase.set_index('Unnamed: 0', inplace = True)

In [6]:
purchase.reset_index(inplace = True)

In [9]:
purchase.drop('Unnamed: 0', axis = 1, inplace = True)

In [10]:
purchase.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가

In [12]:
F_최다구매상품 = pd.pivot_table(data = purchase,
                               index = ['CUSTNO'],
                               columns = ['PURYEAR','QUARTER','BBCL', 'TYPE'],
                               values = ['RNO'],
                               aggfunc = ['count']) 
F_최다구매상품

            count                                                        \
              RNO
PURYEAR      2014
QUARTER         1
BBCL    가구인테리어/잡화            가전/레저취미/멀티샵           교육문화/아동 식품/생활
TYPE          사치품  선매품   일용품         사치품  선매품  일용품     일용품   선매품    일용품
CUSTNO
1             NaN  NaN   7.0         3.0  1.0  NaN     1.0   1.0   72.0
2             NaN  1.0  13.0         4.0  NaN  1.0     1.0   NaN  132.0
3             NaN  NaN  12.0         NaN  NaN  NaN     NaN   NaN  127.0
4             NaN  1.0   6.0         NaN  1.0  NaN     NaN   NaN   78.0
6             NaN  NaN   NaN         NaN  NaN  NaN     NaN   NaN  164.0
...           ...  ...   ...         ...  ...  ...     ...   ...    ...
19333         NaN  NaN   NaN         NaN  NaN  2.0     4.0   NaN  100.0
19334         NaN  NaN   NaN         NaN  NaN  NaN     2.0   NaN  126.0
19335         NaN  NaN   2.0         NaN  NaN  NaN    12.0   5.0   61.0
19336         NaN  NaN   NaN         NaN  3.0  NaN     NaN   NaN    5.0
19337         NaN  NaN   NaN         NaN  NaN  NaN     NaN   NaN    7.0

                ...                                                           \
                ...
PURYEAR         ...        2015
QUARTER         ...           4
BBCL    의류/이미용  ... 가전/레저취미/멀티샵      교육문화/아동 식품/생활        의류/이미용
TYPE       사치품  ...         선매품  일용품     일용품   선매품    일용품    사치품   선매품   일용품
CUSTNO          ...
1          2.0  ...         NaN  NaN     NaN   1.0   49.0    1.0  18.0   1.0
2          2.0  ...         NaN  NaN     NaN   1.0   77.0    NaN  16.0   6.0
3          NaN  ...         NaN  NaN     NaN   NaN   90.0    NaN   NaN   2.0
4          NaN  ...         NaN  NaN     NaN   2.0   87.0    NaN   6.0   3.0
6          1.0  ...         NaN  2.0     1.0   NaN  174.0    5.0  15.0  14.0
...        ...  ...         ...  ...     ...   ...    ...    ...   ...   ...
19333      NaN  ...         NaN  NaN     NaN   NaN   90.0    NaN   NaN   NaN
19334      NaN  ...         NaN  2.0     7.0   NaN   39.0    NaN   NaN   NaN
19335      NaN  ...         NaN  5.0    48.0   NaN  165.0    NaN   NaN   7.0
19336      NaN  ...         2.0  NaN     NaN   NaN   16.0    NaN  20.0   2.0
19337      NaN  ...         NaN  1.0     NaN   NaN  263.0    NaN   1.0   1.0



PURYEAR
QUARTER
BBCL    침구/주방
TYPE      선매품  일용품
CUSTNO
1         2.0  1.0
2         NaN  3.0
3         NaN  NaN
4         NaN  2.0
6         NaN  1.0
...       ...  ...
19333     NaN  NaN
19334     NaN  NaN
19335     NaN  2.0
19336     1.0  NaN
19337     NaN  NaN

[18866 rows x 112 columns]

In [16]:
F_최다구매상품.to_pickle('C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/고객군집화/Freq_(타입포함)카테고리별_타입별_구매최다횟수.pkl')

In [17]:
F_최다구매상품 = pd.pivot_table(data = purchase,
                               index = ['CUSTNO'],
                               columns = ['PURYEAR','QUARTER', 'TYPE','BBCL'],
                               values = ['RNO'],
                               aggfunc = ['count']) 
F_최다구매상품

            count                                                              \
              RNO
PURYEAR      2014
QUARTER         1
TYPE          사치품                          선매품
BBCL    가구인테리어/잡화 가전/레저취미/멀티샵 의류/이미용 가구인테리어/잡화 가전/레저취미/멀티샵 식품/생활 의류/이미용 침구/주방
CUSTNO
1             NaN         3.0    2.0       NaN         1.0   1.0   24.0   1.0
2             NaN         4.0    2.0       1.0         NaN   NaN   18.0   8.0
3             NaN         NaN    NaN       NaN         NaN   NaN    NaN   NaN
4             NaN         NaN    NaN       1.0         1.0   NaN    4.0   NaN
6             NaN         NaN    1.0       NaN         NaN   NaN    6.0   NaN
...           ...         ...    ...       ...         ...   ...    ...   ...
19333         NaN         NaN    NaN       NaN         NaN   NaN    1.0   NaN
19334         NaN         NaN    NaN       NaN         NaN   NaN    NaN   NaN
19335         NaN         NaN    NaN       NaN         NaN   5.0    NaN   NaN
19336         NaN         NaN    NaN       NaN         3.0   NaN    NaN   NaN
19337         NaN         NaN    NaN       NaN         NaN   NaN    NaN   NaN

                               ...                                           \
                               ...
PURYEAR                        ...        2015
QUARTER                        ...           4
TYPE          일용품              ...         선매품                          일용품
BBCL    가구인테리어/잡화 가전/레저취미/멀티샵  ... 가전/레저취미/멀티샵 식품/생활 의류/이미용 침구/주방 가구인테리어/잡화
CUSTNO                         ...
1             7.0         NaN  ...         NaN   1.0   18.0   2.0       3.0
2            13.0         1.0  ...         NaN   1.0   16.0   NaN      15.0
3            12.0         NaN  ...         NaN   NaN    NaN   NaN       1.0
4             6.0         NaN  ...         NaN   2.0    6.0   NaN       7.0
6             NaN         NaN  ...         NaN   NaN   15.0   NaN       4.0
...           ...         ...  ...         ...   ...    ...   ...       ...
19333         NaN         2.0  ...         NaN   NaN    NaN   NaN       NaN
19334         NaN         NaN  ...         NaN   NaN    NaN   NaN       NaN
19335         2.0         NaN  ...         NaN   NaN    NaN   NaN       3.0
19336         NaN         NaN  ...         2.0   NaN   20.0   1.0       6.0
19337         NaN         NaN  ...         NaN   NaN    1.0   NaN       1.0



PURYEAR
QUARTER
TYPE
BBCL    가전/레저취미/멀티샵 교육문화/아동  식품/생활 의류/이미용 침구/주방
CUSTNO
1               NaN     NaN   49.0    1.0   1.0
2               NaN     NaN   77.0    6.0   3.0
3               NaN     NaN   90.0    2.0   NaN
4               NaN     NaN   87.0    3.0   2.0
6               2.0     1.0  174.0   14.0   1.0
...             ...     ...    ...    ...   ...
19333           NaN     NaN   90.0    NaN   NaN
19334           2.0     7.0   39.0    NaN   NaN
19335           5.0    48.0  165.0    7.0   2.0
19336           NaN     NaN   16.0    2.0   NaN
19337           1.0     NaN  263.0    1.0   NaN

[18866 rows x 112 columns]

In [18]:
F_최다구매상품.to_pickle('C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/고객군집화/Freq_(타입포함)타입별_카테고리별_구매최다횟수.pkl')

In [19]:
F_최다구매상품_notype = pd.pivot_table(data = purchase,
                               index = ['CUSTNO'],
                               columns = ['PURYEAR','QUARTER','BBCL'],
                               values = ['RNO'],
                               aggfunc = ['count']) 
F_최다구매상품_notype

            count                                                    \
              RNO
PURYEAR      2014
QUARTER         1                                                 2
BBCL    가구인테리어/잡화 가전/레저취미/멀티샵 교육문화/아동  식품/생활 의류/이미용 침구/주방 가구인테리어/잡화
CUSTNO
1             7.0         4.0     1.0   73.0   30.0   6.0      13.0
2            14.0         5.0     1.0  132.0   21.0  11.0      20.0
3            12.0         NaN     NaN  127.0    NaN   NaN      30.0
4             7.0         1.0     NaN   78.0    6.0   1.0       7.0
6             NaN         NaN     NaN  164.0   20.0   8.0      11.0
...           ...         ...     ...    ...    ...   ...       ...
19333         NaN         2.0     4.0  100.0    1.0   4.0       1.0
19334         NaN         NaN     2.0  126.0    4.0   NaN       NaN
19335         2.0         NaN    12.0   66.0    2.0  13.0       4.0
19336         NaN         3.0     NaN    5.0    NaN   NaN       3.0
19337         NaN         NaN     NaN    7.0    NaN   NaN       NaN

                                    ...                                        \
                                    ...
PURYEAR                             ...    2015
QUARTER                             ...       3                             4
BBCL    가전/레저취미/멀티샵 교육문화/아동  식품/생활  ... 교육문화/아동  식품/생활 의류/이미용 침구/주방 가구인테리어/잡화
CUSTNO                              ...
1               7.0     1.0   69.0  ...     NaN   35.0   28.0   2.0       4.0
2               7.0     2.0  108.0  ...     2.0   69.0   28.0   8.0      15.0
3               NaN     NaN  178.0  ...     NaN  136.0    NaN   NaN       1.0
4               3.0     NaN  141.0  ...     NaN   93.0   14.0   1.0       7.0
6               1.0     NaN  145.0  ...     1.0  191.0   26.0   3.0       6.0
...             ...     ...    ...  ...     ...    ...    ...   ...       ...
19333           NaN     2.0  167.0  ...     NaN   43.0    NaN   NaN       NaN
19334           1.0    13.0  469.0  ...     4.0   27.0    1.0   NaN       NaN
19335           4.0    31.0  218.0  ...    32.0  156.0    3.0   4.0       3.0
19336           1.0     NaN   42.0  ...     1.0   28.0   12.0   1.0      10.0
19337           NaN     NaN   21.0  ...     NaN  301.0    NaN   2.0       1.0



PURYEAR
QUARTER
BBCL    가전/레저취미/멀티샵 교육문화/아동  식품/생활 의류/이미용 침구/주방
CUSTNO
1               1.0     NaN   50.0   20.0   3.0
2               1.0     NaN   78.0   22.0   3.0
3               NaN     NaN   90.0    2.0   NaN
4               NaN     NaN   89.0    9.0   2.0
6               3.0     1.0  174.0   34.0   1.0
...             ...     ...    ...    ...   ...
19333           NaN     NaN   90.0    NaN   NaN
19334           2.0     7.0   39.0    NaN   NaN
19335           5.0    48.0  165.0    7.0   2.0
19336           2.0     NaN   16.0   22.0   1.0
19337           1.0     NaN  263.0    2.0   NaN

[18866 rows x 48 columns]

In [20]:
F_최다구매상품_notype.to_pickle('C:/cakd7/cakd7_class/github_구매감소예측프로젝트/second_projects/생성데이터/고객군집화/Freq_카테고리별_구매최다횟수.pkl')

## 평균구매주기

### 구매날짜별 R-DAY 구하기

In [21]:
purchase.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가

In [ ]:
purchase['DATE'] = purchase['PURDATE'].apply(lambda x: int(str(x)[:])

#### 연습

In [22]:
p = purchase.iloc[:5]
p

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가

In [29]:
from datetime import datetime
p['DATE'] = p['PURDATE'].apply(lambda x: datetime.strptime(str(x)[4:], '%m%d'))
p['DATE']

C:\Users\admin\AppData\Local\Temp\ipykernel_5624\4156887932.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['DATE'] = p['PURDATE'].apply(lambda x: datetime.strptime(str(x)[4:], '%m%d'))

0   1900-02-22
1   1900-02-22
2   1900-09-21
3   1900-08-13
4   1900-08-31
Name: DATE, dtype: datetime64[ns]

In [35]:
# D-DAY 사용자 함수 만들기
from datetime import datetime

def d_day(date):
    if date < datetime.strptime('19000331','%Y%m%d'):
        return (datetime.strptime('19000401','%Y%m%d') - date).days
    elif date < datetime.strptime('19000701','%Y%m%d'):
        return (datetime.strptime('19000701','%Y%m%d') - date).days
    elif date < datetime.strptime('19001001','%Y%m%d'):
        return (datetime.strptime('19001001','%Y%m%d') - date).days
    elif date < datetime.strptime('19010101','%Y%m%d'):
        return (datetime.strptime('19010101','%Y%m%d') - date).days

In [40]:
p['R_DAY'] = p['DATE'].apply(lambda x: d_day(x))

C:\Users\admin\AppData\Local\Temp\ipykernel_5624\3066184649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['R_DAY'] = p['DATE'].apply(lambda x: d_day(x))

In [42]:
p

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,DATE,R_DAY
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,1900-02-22,38
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가,1900-02-22,38
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가,1900-09-21,10
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가,1900-08-13,49
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가,1900-08-31,31

#### 실전

In [ ]:
# D-DAY 사용자 함수 만들기
from datetime import datetime

def d_day(date):
    if date < datetime.strptime('19000331','%Y%m%d'):
        return (datetime.strptime('19000401','%Y%m%d') - date).days
    elif date < datetime.strptime('19000701','%Y%m%d'):
        return (datetime.strptime('19000701','%Y%m%d') - date).days
    elif date < datetime.strptime('19001001','%Y%m%d'):
        return (datetime.strptime('19001001','%Y%m%d') - date).days
    elif date < datetime.strptime('19010101','%Y%m%d'):
        return (datetime.strptime('19010101','%Y%m%d') - date).days

In [37]:
purchase['DATE'] = purchase['PURDATE'].apply(lambda x: datetime.strptime(str(x)[4:], '%m%d'))
purchase['DATE']

0          1900-02-22
1          1900-02-22
2          1900-09-21
3          1900-08-13
4          1900-08-31
              ...
28255863   1900-11-30
28255864   1900-12-27
28255865   1900-10-12
28255866   1900-01-25
28255867   1900-08-21
Name: DATE, Length: 28255868, dtype: datetime64[ns]

In [38]:
purchase['R_DAY'] = purchase['DATE'].apply(lambda x: d_day(x))
purchase['R_DAY']

0           38
1           38
2           10
3           49
4           31
            ..
28255863    32
28255864     5
28255865    81
28255866    66
28255867    41
Name: R_DAY, Length: 28255868, dtype: int64

### R_DAY 차이 구해서 평균 구매주기 구하기

#### 연습

In [43]:
R_평균구매주기 = pd.pivot_table(data = p,
                               index = ['R_DAY'],
                               columns = ['CUSTNO'],
                               aggfunc = ['count'])
R_평균구매주기

       count                                                        ...  \
        ASSO                          BBCL                          ...
CUSTNO 11303 13210 13823 17218 18970 11303 13210 13823 17218 18970  ...
R_DAY                                                               ...
10       NaN   1.0   NaN   NaN   NaN   NaN   1.0   NaN   NaN   NaN  ...
31       NaN   NaN   NaN   NaN   1.0   NaN   NaN   NaN   NaN   1.0  ...
38       1.0   NaN   NaN   1.0   NaN   1.0   NaN   NaN   1.0   NaN  ...
49       NaN   NaN   1.0   NaN   NaN   NaN   NaN   1.0   NaN   NaN  ...


       STCODE                          TYPE
CUSTNO  11303 13210 13823 17218 18970 11303 13210 13823 17218 18970
R_DAY
10        NaN   1.0   NaN   NaN   NaN   NaN   1.0   NaN   NaN   NaN
31        NaN   NaN   NaN   NaN   1.0   NaN   NaN   NaN   NaN   1.0
38        1.0   NaN   NaN   1.0   NaN   1.0   NaN   NaN   1.0   NaN
49        NaN   NaN   1.0   NaN   NaN   NaN   NaN   1.0   NaN   NaN

[4 rows x 80 columns]

In [45]:
R_평균구매주기 = pd.pivot_table(data = purchase,
                               index = ['CUSTNO'],
                               columns = ['R_DAY'],
                               values = ['R_DAY'],
                               aggfunc = ['count'])
R_평균구매주기

ValueError: Grouper for 'R_DAY' not 1-dimensional

#### 실전

In [46]:
purchase.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,DATE,R_DAY
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,1900-02-22,38
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가,1900-02-22,38
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가,1900-09-21,10
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가,1900-08-13,49
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가,1900-08-31,31

### 분기별로 카테고리별로 구매주기보기(평균)

### [연습]

In [52]:
# 카테고리 생성
ex_df = purchase.copy()
ex_df['TOTALTYPE'] = purchase['BBCL'] + '_' + purchase['PRICE_TYPE']

In [54]:
ex_df.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,DATE,R_DAY,TOTALTYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,1900-02-22,38,식품/생활_중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가,1900-02-22,38,식품/생활_중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가,1900-09-21,10,식품/생활_중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가,1900-08-13,49,식품/생활_중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가,1900-08-31,31,식품/생활_중가

In [56]:
# 1분기 df
q_df_1 = purchase[(purchase['PURYEAR']==2014)&(purchase['QUARTER']==1)]

# 한명 고객
q_df_1[q_df_1['CUSTNO']==17218]

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,DATE,R_DAY
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,1900-02-22,38
12021,17218,B,44,8660711,식품/생활,식품,탄산음료,사이다,일용품,20140130,2014,1,1,12,2420,중가,1900-01-30,61
37729,17218,B,44,8664000,식품/생활,식품,소주,병소주,일용품,20140222,2014,1,2,20,1070,중가,1900-02-22,38
101193,17218,B,44,8664000,식품/생활,식품,맥주,국산맥주,일용품,20140222,2014,1,2,20,8060,중가,1900-02-22,38
102084,17218,B,44,8668151,식품/생활,식품,맥주,국산맥주,일용품,20140321,2014,1,3,18,2420,중가,1900-03-21,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27646028,17218,B,44,8662732,가전/레저취미/멀티샵,레저취미,원예용품,생화,일용품,20140214,2014,1,2,14,25000,저가,1900-02-14,46
27818510,17218,B,44,8662866,의류/이미용,의류,남성시즌행사,교복,선매품,20140214,2014,1,2,19,397000,중가,1900-02-14,46
27832797,17218,B,44,8667844,가전/레저취미/멀티샵,레저취미,등산,등산용품,일용품,20140319,2014,1,3,21,57600,저가,1900-03-19,13
27832798,17218,B,44,8667862,가전/레저취미/멀티샵,레저취미,등산,등산용품,일용품,20140319,2014,1,3,20,88000,저가,1900-03-19,13
27886169,17218,B,44,8659930,식품/생활,식품,마른안주,건오징어,일용품,20140125,2014,1,1,15,9900,중가,1900-01-25,66

In [57]:
cust_one = q_df_1[q_df_1['CUSTNO']==17218]
cust_one['TOTALTYPE'] = cust_one['BBCL'] + '_' + cust_one['PRICE_TYPE']

C:\Users\admin\AppData\Local\Temp\ipykernel_5624\2208944439.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cust_one['TOTALTYPE'] = cust_one['BBCL'] + '_' + cust_one['PRICE_TYPE']

In [58]:
cust_one.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,DATE,R_DAY,TOTALTYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,1900-02-22,38,식품/생활_중가
12021,17218,B,44,8660711,식품/생활,식품,탄산음료,사이다,일용품,20140130,2014,1,1,12,2420,중가,1900-01-30,61,식품/생활_중가
37729,17218,B,44,8664000,식품/생활,식품,소주,병소주,일용품,20140222,2014,1,2,20,1070,중가,1900-02-22,38,식품/생활_중가
101193,17218,B,44,8664000,식품/생활,식품,맥주,국산맥주,일용품,20140222,2014,1,2,20,8060,중가,1900-02-22,38,식품/생활_중가
102084,17218,B,44,8668151,식품/생활,식품,맥주,국산맥주,일용품,20140321,2014,1,3,18,2420,중가,1900-03-21,11,식품/생활_중가

In [59]:
# 카테고리 유형
cust_one['TOTALTYPE'].unique()

array(['식품/생활_중가', '식품/생활_저가', '식품/생활_고가', '침구/주방_저가', '교육문화/아동_저가',
       '의류/이미용_저가', '가전/레저취미/멀티샵_저가', '의류/이미용_중가'], dtype=object)

In [62]:
# 식품/생활_중가만 확인
cust_one[cust_one['TOTALTYPE'] == '식품/생활_중가']

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,DATE,R_DAY,TOTALTYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가,1900-02-22,38,식품/생활_중가
12021,17218,B,44,8660711,식품/생활,식품,탄산음료,사이다,일용품,20140130,2014,1,1,12,2420,중가,1900-01-30,61,식품/생활_중가
37729,17218,B,44,8664000,식품/생활,식품,소주,병소주,일용품,20140222,2014,1,2,20,1070,중가,1900-02-22,38,식품/생활_중가
101193,17218,B,44,8664000,식품/생활,식품,맥주,국산맥주,일용품,20140222,2014,1,2,20,8060,중가,1900-02-22,38,식품/생활_중가
102084,17218,B,44,8668151,식품/생활,식품,맥주,국산맥주,일용품,20140321,2014,1,3,18,2420,중가,1900-03-21,11,식품/생활_중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26583142,17218,B,44,8658089,식품/생활,식품,통조림,농산물통조림,일용품,20140113,2014,1,1,16,1970,중가,1900-01-13,78,식품/생활_중가
26584531,17218,B,44,8657686,식품/생활,식품,통조림,농산물통조림,일용품,20140110,2014,1,1,15,1190,중가,1900-01-10,81,식품/생활_중가
27053694,17218,B,44,8658089,식품/생활,식품,건과,곶감,일용품,20140113,2014,1,1,16,5900,중가,1900-01-13,78,식품/생활_중가
27054363,17218,B,44,8657686,식품/생활,식품,건과,곶감,일용품,20140110,2014,1,1,15,11800,중가,1900-01-10,81,식품/생활_중가
27886169,17218,B,44,8659930,식품/생활,식품,마른안주,건오징어,일용품,20140125,2014,1,1,15,9900,중가,1900-01-25,66,식품/생활_중가

In [97]:
# 구매 날짜로 sort
pur_date = cust_one[cust_one['TOTALTYPE'] == '식품/생활_중가']
pur_date_ = pur_date.sort_values(by = 'PURDATE', ascending = False)

In [98]:
DATE = pur_date_['PURDATE'].unique()
DATE

array([20140330, 20140326, 20140323, 20140322, 20140321, 20140319,
       20140316, 20140314, 20140307, 20140306, 20140303, 20140302,
       20140228, 20140225, 20140222, 20140221, 20140214, 20140212,
       20140211, 20140207, 20140206, 20140202, 20140131, 20140130,
       20140129, 20140125, 20140122, 20140117, 20140113, 20140110,
       20140109, 20140107, 20140106], dtype=int64)

In [99]:
datetime.strptime(str(DATE[0]), '%Y%m%d')
day = datetime.strptime(str(DATE[0]), '%Y%m%d') - datetime.strptime(str(DATE[1]), '%Y%m%d')
day.days

4

In [100]:
len(DATE)

33

In [102]:
DATE[32]

20140106

In [103]:
len(DATE)-2

31

In [114]:
from datetime import datetime

li = []
for i in range(len(DATE)-1):
    DATE_after = datetime.strptime(str(DATE[i]), '%Y%m%d')
    DATE_before = datetime.strptime(str(DATE[i+1]), '%Y%m%d')
    days = DATE_after - DATE_before
    li.append(days.days)

In [115]:
DATE

array([20140330, 20140326, 20140323, 20140322, 20140321, 20140319,
       20140316, 20140314, 20140307, 20140306, 20140303, 20140302,
       20140228, 20140225, 20140222, 20140221, 20140214, 20140212,
       20140211, 20140207, 20140206, 20140202, 20140131, 20140130,
       20140129, 20140125, 20140122, 20140117, 20140113, 20140110,
       20140109, 20140107, 20140106], dtype=int64)

In [116]:
print(li)

[4, 3, 1, 1, 2, 3, 2, 7, 1, 3, 1, 2, 3, 3, 1, 7, 2, 1, 4, 1, 4, 2, 1, 1, 4, 3, 5, 4, 3, 1, 2, 1]

In [124]:
sum(li)/len(li) # 해당고객의 카테고리 구매주기

2.59375

In [126]:
q_df_1['CUSTNO'].unique().tolist()

[17218,
 11303,
 1310,
 11545,
 12233,
 15002,
 6271,
 7692,
 7311,
 15361,
 3444,
 10435,
 5286,
 7775,
 934,
 13346,
 397,
 15145,
 17740,
 14457,
 12170,
 10949,
 6032,
 15842,
 12724,
 16710,
 15939,
 6905,
 6742,
 6625,
 12631,
 4014,
 6704,
 3229,
 9152,
 17800,
 9921,
 11993,
 15846,
 10123,
 9187,
 8475,
 3503,
 3896,
 2352,
 9218,
 12022,
 16084,
 17839,
 16359,
 7956,
 13513,
 12577,
 4749,
 5008,
 13560,
 11264,
 6650,
 1398,
 4498,
 6606,
 12368,
 4448,
 3540,
 33,
 11767,
 2164,
 14691,
 14513,
 17829,
 9874,
 8253,
 6602,
 8816,
 257,
 3826,
 18213,
 14896,
 5387,
 3712,
 7999,
 12178,
 11598,
 17712,
 7587,
 533,
 10646,
 18421,
 4273,
 5524,
 5374,
 220,
 7192,
 13505,
 15325,
 4154,
 14034,
 6698,
 13241,
 6539,
 5123,
 9678,
 15455,
 17685,
 3776,
 4269,
 15618,
 6802,
 14530,
 5431,
 1689,
 18355,
 10460,
 5500,
 3904,
 13098,
 12976,
 11419,
 9702,
 10896,
 3534,
 15553,
 15218,
 17183,
 18299,
 6017,
 4989,
 12576,
 3869,
 16398,
 17917,
 17942,
 10647,
 10685,
 18878,
 17761,
 7840,
 9251,
 11771,
 10380,
 17815,
 8716,
 17831,
 12800,
 5741,
 17369,
 8880,
 4007,
 12979,
 10514,
 10526,
 14214,
 11073,
 12351,
 12044,
 5598,
 17171,
 15066,
 15006,
 18031,
 7087,
 3119,
 6741,
 11372,
 10562,
 11325,
 4203,
 15246,
 6680,
 7079,
 12313,
 14234,
 8435,
 1571,
 6234,
 10663,
 6627,
 6468,
 11410,
 13374,
 18586,
 4388,
 16293,
 1204,
 3631,
 5244,
 5345,
 1551,
 8591,
 10425,
 14300,
 4039,
 15678,
 15198,
 5050,
 14883,
 6321,
 1735,
 3849,
 10296,
 14592,
 18847,
 12629,
 7085,
 4152,
 17768,
 10828,
 3285,
 18881,
 13331,
 18266,
 4371,
 5809,
 12551,
 7687,
 8323,
 11414,
 17779,
 10162,
 15633,
 3226,
 10402,
 8266,
 15982,
 12329,
 12447,
 12907,
 16437,
 17136,
 1713,
 6401,
 12355,
 10028,
 8649,
 15232,
 7354,
 6521,
 7358,
 9364,
 10264,
 6381,
 18959,
 12048,
 17805,
 5394,
 7456,
 11617,
 13356,
 15349,
 11500,
 9966,
 1001,
 12231,
 4998,
 10374,
 15644,
 19125,
 2160,
 6697,
 7323,
 7883,
 4280,
 6683,
 14101,
 7984,
 10171,
 13159,
 11283,
 5898,
 16584,
 7166,
 15666,
 2648,
 12150,
 16402,
 6792,
 15556,
 6588,
 9983,
 8075,
 16824,
 17039,
 10641,
 11838,
 3361,
 5911,
 2377,
 14873,
 2571,
 10789,
 14552,
 12105,
 3861,
 8598,
 7447,
 3146,
 15859,
 8117,
 15820,
 12721,
 14562,
 9410,
 16650,
 10588,
 7469,
 10318,
 11403,
 7465,
 760,
 13670,
 10339,
 10564,
 1817,
 18758,
 8459,
 2403,
 10117,
 881,
 8680,
 6145,
 7355,
 5160,
 13922,
 16429,
 3263,
 14685,
 16364,
 10783,
 10523,
 12220,
 11359,
 3792,
 14772,
 15778,
 2502,
 19039,
 16525,
 8429,
 5798,
 5860,
 5361,
 6676,
 12971,
 14708,
 6447,
 1557,
 8342,
 7373,
 5535,
 6422,
 8334,
 13,
 8533,
 12424,
 4150,
 13224,
 11546,
 17271,
 8368,
 11578,
 5337,
 17475,
 8925,
 17760,
 10147,
 11957,
 18242,
 11768,
 16258,
 10614,
 10760,
 15953,
 1584,
 4100,
 17776,
 5482,
 17693,
 9665,
 18398,
 15808,
 13012,
 3418,
 12281,
 4526,
 17552,
 10996,
 14921,
 18341,
 956,
 7867,
 955,
 5119,
 4577,
 13477,
 17370,
 11133,
 6900,
 13087,
 11185,
 4862,
 14938,
 17857,
 7034,
 5776,
 11288,
 13105,
 13345,
 11825,
 10184,
 14215,
 16483,
 13571,
 14861,
 9288,
 16105,
 9383,
 6430,
 4224,
 14092,
 11668,
 10362,
 17962,
 9066,
 8703,
 16214,
 6940,
 12640,
 15695,
 17744,
 17763,
 15293,
 10757,
 8581,
 12978,
 19082,
 13008,
 4803,
 18313,
 6604,
 17300,
 12909,
 5873,
 11524,
 5737,
 17700,
 9087,
 3047,
 9120,
 2936,
 13332,
 17714,
 11776,
 15699,
 15023,
 10385,
 12541,
 10223,
 13718,
 15147,
 1131,
 3572,
 7212,
 9375,
 17748,
 14909,
 10367,
 16958,
 15447,
 7050,
 3656,
 9103,
 4774,
 13305,
 6645,
 8771,
 8805,
 2658,
 21,
 4506,
 16133,
 8642,
 19290,
 6237,
 16848,
 14970,
 16316,
 9140,
 15397,
 15683,
 17818,
 9285,
 12954,
 13986,
 5808,
 9733,
 1556,
 10443,
 15294,
 9208,
 11244,
 11242,
 10093,
 8174,
 11761,
 8547,
 2518,
 7110,
 14701,
 475,
 3172,
 4937,
 11404,
 16183,
 16567,
 1958,
 7723,
 11003,
 5463,
 15310,
 13829,
 8453,
 3349,
 2659,
 16291,
 11216,
 8781,
 8200,
 5567,
 12903,
 12717,
 12633,
 5269,
 3958,
 1125,
 15833,
 17538,
 12869,
 11459,
 7349,
 1390,
 13817,
 16920,
 10290,
 4047,
 15788,
 19042,
 16668,
 12153,
 12902,
 6867,
 15225,
 7770,
 9807,
 17725,
 10260,
 4343,
 6188,
 17430,
 11577,
 12275,
 4112,
 16054,
 13487,
 15926,
 5965,
 2745,
 3246,
 9405,
 15761,
 9126,
 8491,
 4753,
 9616,
 9664,
 17609,
 18695,
 12373,
 9064,
 9402,
 699,
 13768,
 8044,
 8746,
 2844,
 15979,
 10236,
 5636,
 19117,
 13882,
 7391,
 15728,
 4514,
 2447,
 980,
 1663,
 7935,
 8041,
 14199,
 17152,
 15957,
 15162,
 11339,
 17213,
 5672,
 18861,
 8329,
 16812,
 9512,
 16562,
 1060,
 9355,
 716,
 13290,
 18319,
 17855,
 3960,
 5423,
 9851,
 2249,
 15931,
 17045,
 13790,
 10615,
 1917,
 13898,
 12549,
 17734,
 16961,
 15249,
 12277,
 10033,
 16510,
 7649,
 6086,
 16677,
 10346,
 17319,
 9869,
 16201,
 4947,
 4460,
 6911,
 7539,
 5676,
 14841,
 12660,
 14375,
 6615,
 15773,
 4641,
 6469,
 19008,
 17774,
 11888,
 17121,
 3825,
 5583,
 17414,
 12695,
 1897,
 7410,
 16094,
 7673,
 5049,
 15387,
 14867,
 9109,
 17840,
 199,
 12814,
 11289,
 18196,
 11251,
 2129,
 4122,
 8180,
 16370,
 7216,
 6643,
 12336,
 11711,
 10863,
 3633,
 2700,
 7348,
 15706,
 11446,
 95,
 8832,
 9144,
 9241,
 860,
 17944,
 11526,
 11726,
 14000,
 3751,
 6894,
 3703,
 14351,
 3219,
 6714,
 5111,
 15564,
 4443,
 13107,
 2877,
 16856,
 8483,
 4692,
 14411,
 9815,
 9216,
 16606,
 16092,
 11160,
 14690,
 9676,
 17340,
 13778,
 5728,
 8748,
 5830,
 17704,
 10078,
 9164,
 18426,
 10540,
 17337,
 17828,
 3969,
 14319,
 9471,
 10399,
 11515,
 1274,
 15326,
 14641,
 18835,
 17535,
 2167,
 12916,
 12051,
 4786,
 17452,
 13554,
 13515,
 15766,
 12730,
 1959,
 17694,
 3946,
 6983,
 10922,
 3211,
 16632,
 16321,
 16419,
 13200,
 4919,
 13411,
 3811,
 8245,
 3030,
 16287,
 4124,
 5799,
 16307,
 6824,
 4842,
 17221,
 9200,
 7845,
 7920,
 4265,
 10529,
 11222,
 9781,
 11751,
 4688,
 12431,
 8472,
 11945,
 9269,
 5931,
 13645,
 6390,
 14881,
 14463,
 12533,
 11562,
 19301,
 17292,
 15257,
 19334,
 1646,
 17884,
 5852,
 12157,
 7698,
 755,
 10356,
 10455,
 12604,
 10189,
 5935,
 7830,
 1252,
 8661,
 15338,
 5538,
 9602,
 19155,
 17907,
 9143,
 8673,
 18301,
 11366,
 14127,
 6069,
 9978,
 13244,
 10681,
 14782,
 14015,
 4882,
 2466,
 12743,
 17185,
 17225,
 8500,
 13751,
 16806,
 6434,
 7353,
 11952,
 12926,
 13259,
 3463,
 5974,
 15242,
 15052,
 9335,
 14435,
 17199,
 17236,
 14710,
 4316,
 8444,
 10050,
 15034,
 7917,
 10954,
 13385,
 9796,
 11267,
 7029,
 4297,
 15170,
 18009,
 3799,
 16835,
 15530,
 8238,
 6273,
 17798,
 18692,
 16203,
 16486,
 14453,
 16719,
 14597,
 12553,
 14605,
 14975,
 3557,
 3370,
 7594,
 4354,
 4941,
 12155,
 13446,
 7553,
 10309,
 13111,
 8812,
 17598,
 1600,
 6921,
 493,
 10698,
 4621,
 14790,
 18259,
 14945,
 82,
 10249,
 12109,
 17681,
 8367,
 12211,
 3227,
 17843,
 7141,
 14477,
 10947,
 5675,
 10752,
 5222,
 14986,
 11293,
 17443,
 9731,
 6215,
 6318,
 2977,
 7320,
 1957,
 17509,
 6574,
 6161,
 15717,
 18970,
 10758,
 8873,
 3982,
 13038,
 15777,
 4457,
 14483,
 2066,
 7788,
 15463,
 2242,
 13793,
 6760,
 2041,
 8907,
 13221,
 11230,
 6570,
 4886,
 15305,
 16541,
 18176,
 7315,
 4945,
 2379,
 2304,
 16686,
 12975,
 1320,
 15560,
 13201,
 2944,
 16311,
 10178,
 13347,
 11104,
 4584,
 15887,
 18583,
 8845,
 18652,
 4806,
 10780,
 6619,
 10799,
 13779,
 10805,
 16740,
 543,
 17953,
 17868,
 8362,
 15081,
 11869,
 3923,
 4185,
 16758,
 13299,
 7067,
 6103,
 9238,
 11334,
 8701,
 11684,
 8788,
 3925,
 8820,
 3197,
 8911,
 16804,
 7719,
 11917,
 5054,
 13126,
 10009,
 2576,
 8973,
 ...]

## [함수생성] : 분기별 고객별 카테고리별 구매주기(평균)

In [ ]:
# 분기별 df
# for 

# 분기별 df 넣었을 때 고객별 카테고리별 구매주기 평균 값 반출
def mean_count(df):
    # 빈 데이터 프레임
    total_df = pd.DataFrame(index = df['CUSTNO'].unique)
    # 고객별 넣기
    for cust

In [ ]:
# 분기별 데이터
# 1분기 df
q_df_1 = purchase[(purchase['PURYEAR']==2014)&(purchase['QUARTER']==1)]

# 한명 고객
cust_one = q_df_1[q_df_1['CUSTNO']==17218]

# 카테고리 묶기
cust_one['TOTALTYPE'] = cust_one['BBCL'] + '_' + cust_one['PRICE_TYPE']
cust_one['TOTALTYPE'].unique()

# 식품/생활_중가만 확인
cust_one[cust_one['TOTALTYPE'] == '식품/생활_중가']
# 구매 날짜로 sort
pur_date = cust_one[cust_one['TOTALTYPE'] == '식품/생활_중가']
pur_date_ = pur_date.sort_values(by = 'PURDATE', ascending = False)

DATE = pur_date_['PURDATE'].unique()
from datetime import datetime

li = []
for i in range(len(DATE)-1):
    DATE_after = datetime.strptime(str(DATE[i]), '%Y%m%d')
    DATE_before = datetime.strptime(str(DATE[i+1]), '%Y%m%d')
    days = DATE_after - DATE_before
    li.append(days.days)
    
sum(li)/len(li) # 해당고객의 카테고리 구매주기

In [61]:
# 고객 유형
q_df_1['CUSTNO'].unique()

array([17218, 11303,  1310, ..., 18342, 14598, 19054], dtype=int64)

In [ ]:
cate_li = q_df_1['TOTALTYPE'].unique().tolist()