In [39]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from matplotlib import font_manager,rc
import matplotlib.pyplot as plt

rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus']=False     # 마이너스 부호 깨짐 방지
import seaborn as sns
import numpy as np

pd.options.display.float_format = '{:.1f}'.format

# 데이터 불러오기

In [40]:
# 1분기
weight_plus_q1 = pd.read_csv('생성데이터/weight_plus_2014_q1.csv', index_col = 0)
# 2분기
weight_plus_q2 = pd.read_csv('생성데이터/weight_plus_2014_q2.csv', index_col = 0)
# 3분기
weight_plus_q3 = pd.read_csv('생성데이터/weight_plus_2014_q3.csv', index_col = 0)
# 4분기
weight_plus_q4 = pd.read_csv('생성데이터/weight_plus_2014_q4.csv', index_col = 0)
# 5분기
weight_plus_q5 = pd.read_csv('생성데이터/weight_plus_2015_q1.csv', index_col = 0)
# 6분기
weight_plus_q6 = pd.read_csv('생성데이터/weight_plus_2015_q2.csv', index_col = 0)
# 7분기
weight_plus_q7 = pd.read_csv('생성데이터/weight_plus_2015_q3.csv', index_col = 0)
# 8분기
weight_plus_q8 = pd.read_csv('생성데이터/weight_plus_2015_q4.csv', index_col = 0)

# 분기별 카테고리별 랭킹 부여

### 1분기 가구인테리어 고가만 확인해보기

In [41]:
weight_plus_q1['가구인테리어/잡화_고가'].describe()

count       18866.0
mean       508179.8
std       3361018.1
min             0.0
25%             0.0
50%             0.0
75%             0.0
max     284417008.7
Name: 가구인테리어/잡화_고가, dtype: float64

- 0이면 꼴등, 0이 아닌 값들의 길이로 랭킹 부여

In [42]:
# 큰값 순으로 정렬
weight_zeros_ = weight_plus_q1.sort_values('가구인테리어/잡화_고가', ascending=False)
weight_zeros_

,가구인테리어/잡화_고가,가구인테리어/잡화_저가,가구인테리어/잡화_중가,가전/레저취미/멀티샵_고가,가전/레저취미/멀티샵_저가,가전/레저취미/멀티샵_중가,교육문화/아동_고가,교육문화/아동_저가,교육문화/아동_중가,식품/생활_고가,식품/생활_저가,식품/생활_중가,의류/이미용_고가,의류/이미용_저가,의류/이미용_중가,침구/주방_고가,침구/주방_저가,침구/주방_중가
CUSTNO,,,,,,,,,,,,,,,,,,
14323,284417008.7,25954.7,0.0,0.0,6375.7,0.0,15605.3,66139.3,41682.2,85718.6,153153.3,361834.0,0.0,36791.4,0.0,0.0,75502.9,0.0
4525,120520829.2,0.0,83824.3,0.0,8607.2,95076.4,0.0,0.0,0.0,240504.7,28966.0,337553.2,689201.9,136340.9,2938399.9,238863.1,12585.4,0.0
6454,66950979.7,173595.3,309305.7,0.0,0.0,326165.0,0.0,0.0,199153.0,888654.1,0.0,783742.1,1012219.8,0.0,293703.3,10977.5,0.0,62007.9
2064,62528849.3,91723.9,605819.7,1844777.2,10626.2,1011127.2,0.0,0.0,865985.3,2041187.3,3693.2,540725.3,5178255.7,0.0,3955279.3,841215.9,0.0,0.0
5847,59201981.7,15572.8,165993.1,1217548.2,0.0,2477205.8,0.0,0.0,142624.5,803194.8,19076.1,309145.4,1519158.8,0.0,3435670.3,70514.2,0.0,115818.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7311,0.0,21698.1,0.0,0.0,0.0,0.0,0.0,4684.1,35937.6,116746.2,92456.2,566003.2,0.0,86544.9,0.0,0.0,25170.9,58644.8
7312,0.0,46718.4,0.0,0.0,378080.0,604474.8,98872.1,50372.7,200070.5,158383.0,230492.4,1045445.8,0.0,111969.3,0.0,0.0,205452.3,0.0
7313,0.0,18687.4,0.0,0.0,6800.8,850141.7,0.0,0.0,135535.0,195796.0,222696.4,1000545.8,72563.4,11569.1,676792.2,0.0,0.0,0.0
7314,0.0,17233.9,0.0,0.0,36660.4,0.0,0.0,14895.4,295987.6,890724.8,160004.8,738097.2,0.0,99655.8,92315.6,0.0,18287.6,0.0
19337,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8007.0,8754.7,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
# 랭킹 컬럼 생성
rank = []

for rank_,  in range(len(weight_zeros_)):
    rank_ = rank_+1
    rank.append(rank_)
weight_zeros_['가구인테리어_고가_rank'] = rank
weight_zeros_[['가구인테리어_고가_rank', '가구인테리어/잡화_고가']]

TypeError: cannot unpack non-iterable int object

In [ ]:
# 데이터프레임, 컬럼 입력하면 해당 컬럼의 랭킹 부여
def rank_(df, column):
    rank = []
    df_ = df[df[column]>0]
    for rank_ in range(len(df_)):
        rank_ = rank_+1
        rank.append(rank_)
    without_zero = len(rank)
    include_zero = df[df[column]==0]
    for i in range(len(include_zero)):
        rank.append(without_zero+1)
    return rank

In [ ]:
len(rank_(weight_zeros_ , '가구인테리어/잡화_고가'))

In [ ]:
weight_zeros_['가구인테리어_고가_rank'] = rank_(weight_zeros_ , '가구인테리어/잡화_고가')
weight_zeros_[['가구인테리어_고가_rank', '가구인테리어/잡화_고가']]

# ![함수 생성]: 해당 분기 카테고리의 랭킹 컬럼 생성

In [44]:
# 데이터프레임, 컬럼 입력하면 해당 컬럼의 랭킹 부여
def rank_(df, column):
    rank = []
    df_ = df[df[column]>0]
    for rank_ in range(len(df_)):
        rank_ = rank_+1
        rank.append(rank_)
    without_zero = len(rank)
    include_zero = df[df[column]==0]
    for i in range(len(include_zero)):
        rank.append(without_zero+1)
    return rank

#함수대입
def plus_rank(df, column):
    
    #큰값 순으로 정렬
    sort_value_df = df.sort_values(column, ascending = False)
    
    # 랭킹 컬럼 생성 (rank 함수 대입)
    # 컬럼이름
    column_name = column + '_rank'
    sort_value_df[column_name] = rank_(sort_value_df , column)
    
    return sort_value_df[[column_name, column]]

In [45]:
# 함수 값 확인
plus_rank(weight_plus_q1, '가구인테리어/잡화_고가')

        가구인테리어/잡화_고가_rank  가구인테리어/잡화_고가
CUSTNO
14323                   1   284417008.7
4525                    2   120520829.2
6454                    3    66950979.7
2064                    4    62528849.3
5847                    5    59201981.7
...                   ...           ...
7311                 3362           0.0
7312                 3362           0.0
7313                 3362           0.0
7314                 3362           0.0
19337                3362           0.0

[18866 rows x 2 columns]

### 2분기 가구인테리어 고가만 확인해보기

In [46]:
plus_rank(weight_plus_q2, '가구인테리어/잡화_고가')

        가구인테리어/잡화_고가_rank  가구인테리어/잡화_고가
CUSTNO
17446                   1   210340960.4
14323                   2   180999752.2
3624                    3   110502806.6
2290                    4   104911754.7
5895                    5    83943579.8
...                   ...           ...
7526                 3987           0.0
7527                 3987           0.0
7528                 3987           0.0
7529                 3987           0.0
19337                3987           0.0

[18866 rows x 2 columns]

### 1분기대비 2분기 고객 유형 확인해보기

In [47]:
df_q1 = pd.read_csv('생성데이터/q2_q1_df.csv', index_col = 0)
df_q1.head()

,가구인테리어/잡화_고가_증감여부,가구인테리어/잡화_저가_증감여부,가구인테리어/잡화_중가_증감여부,가전/레저취미/멀티샵_고가_증감여부,가전/레저취미/멀티샵_저가_증감여부,가전/레저취미/멀티샵_중가_증감여부,교육문화/아동_고가_증감여부,교육문화/아동_저가_증감여부,교육문화/아동_중가_증감여부,식품/생활_고가_증감여부,식품/생활_저가_증감여부,식품/생활_중가_증감여부,의류/이미용_고가_증감여부,의류/이미용_저가_증감여부,의류/이미용_중가_증감여부,침구/주방_고가_증감여부,침구/주방_저가_증감여부,침구/주방_중가_증감여부
CUSTNO,,,,,,,,,,,,,,,,,,
1,0,2,4,3,0,1,0,0,2,4,4,1,2,0,3,1,0,1
2,0,2,3,2,1,4,0,0,4,3,0,2,2,0,4,2,0,2
3,0,3,0,0,0,0,0,0,0,3,3,4,0,0,4,0,0,0
4,0,2,3,4,4,2,0,0,0,4,4,4,4,2,4,0,4,1
6,4,4,4,0,4,0,0,0,0,2,1,3,2,3,4,4,2,1

### 고객 유형별로 해당 분기의 랭킹 확인

- 고객 유형 : 0

In [48]:
df_q1_cust0 = df_q1[df_q1['가구인테리어/잡화_고가_증감여부']==0]
df_q1_cust0

,가구인테리어/잡화_고가_증감여부,가구인테리어/잡화_저가_증감여부,가구인테리어/잡화_중가_증감여부,가전/레저취미/멀티샵_고가_증감여부,가전/레저취미/멀티샵_저가_증감여부,가전/레저취미/멀티샵_중가_증감여부,교육문화/아동_고가_증감여부,교육문화/아동_저가_증감여부,교육문화/아동_중가_증감여부,식품/생활_고가_증감여부,식품/생활_저가_증감여부,식품/생활_중가_증감여부,의류/이미용_고가_증감여부,의류/이미용_저가_증감여부,의류/이미용_중가_증감여부,침구/주방_고가_증감여부,침구/주방_저가_증감여부,침구/주방_중가_증감여부
CUSTNO,,,,,,,,,,,,,,,,,,
1,0,2,4,3,0,1,0,0,2,4,4,1,2,0,3,1,0,1
2,0,2,3,2,1,4,0,0,4,3,0,2,2,0,4,2,0,2
3,0,3,0,0,0,0,0,0,0,3,3,4,0,0,4,0,0,0
4,0,2,3,4,4,2,0,0,0,4,4,4,4,2,4,0,4,1
7,0,4,4,3,0,1,0,4,4,2,1,1,2,0,1,4,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,0,4,0,0,1,0,0,1,3,4,2,4,0,0,1,0,1,0
19334,0,0,0,0,4,0,0,4,4,4,4,4,0,2,0,0,4,0
19335,0,3,0,0,4,4,3,4,3,4,4,4,0,4,4,0,2,4
19336,0,4,4,0,0,1,0,0,0,4,0,4,4,4,4,0,0,4
19337,0,0,0,0,0,0,0,0,0,0,4,4,0,0,0,0,0,0

In [49]:
plus_rank_q1 = plus_rank(weight_plus_q1, '가구인테리어/잡화_고가')
plus_rank_q1.loc[df_q1_cust0.index]

        가구인테리어/잡화_고가_rank  가구인테리어/잡화_고가
CUSTNO
1                    3362           0.0
2                    3362           0.0
3                    3362           0.0
4                    3362           0.0
7                    3362           0.0
...                   ...           ...
19333                3362           0.0
19334                3362           0.0
19335                3362           0.0
19336                3362           0.0
19337                3362           0.0

[13524 rows x 2 columns]

In [50]:
plus_rank_q2 = plus_rank(weight_plus_q2, '가구인테리어/잡화_고가')
plus_rank_q2.loc[df_q1_cust0.index]

        가구인테리어/잡화_고가_rank  가구인테리어/잡화_고가
CUSTNO
1                    3987           0.0
2                    3987           0.0
3                    3987           0.0
4                    3987           0.0
7                    3987           0.0
...                   ...           ...
19333                3987           0.0
19334                3987           0.0
19335                3987           0.0
19336                3987           0.0
19337                3987           0.0

[13524 rows x 2 columns]

In [51]:
df_q1_cust0[['가구인테리어/잡화_고가_증감여부']]

        가구인테리어/잡화_고가_증감여부
CUSTNO
1                       0
2                       0
3                       0
4                       0
7                       0
...                   ...
19333                   0
19334                   0
19335                   0
19336                   0
19337                   0

[13524 rows x 1 columns]

In [52]:
# 3개의 df 합쳐서 보기

# 컬럼명 변경
q1_ = plus_rank_q1.loc[df_q1_cust0.index]
q1_.columns = ['1분기_가구인테리어/잡화_고가_rank', '1분기_가구인테리어/잡화_고가_구매액']

q2_ = plus_rank_q2.loc[df_q1_cust0.index]
q2_.columns = ['2분기_가구인테리어/잡화_고가_rank', '2분기_가구인테리어/잡화_고가_구매액']

# 고객유형
df_cust_value = df_q1_cust0[['가구인테리어/잡화_고가_증감여부']]

total_look = pd.concat([q1_, q2_, df_cust_value], axis=1)
total_look

,1분기_가구인테리어/잡화_고가_rank,1분기_가구인테리어/잡화_고가_구매액,2분기_가구인테리어/잡화_고가_rank,2분기_가구인테리어/잡화_고가_구매액,가구인테리어/잡화_고가_증감여부
CUSTNO,,,,,
1,3362,0.0,3987,0.0,0
2,3362,0.0,3987,0.0,0
3,3362,0.0,3987,0.0,0
4,3362,0.0,3987,0.0,0
7,3362,0.0,3987,0.0,0
...,...,...,...,...,...
19333,3362,0.0,3987,0.0,0
19334,3362,0.0,3987,0.0,0
19335,3362,0.0,3987,0.0,0
19336,3362,0.0,3987,0.0,0
19337,3362,0.0,3987,0.0,0

##  ![함수 생성]: 해당 분기 카테고리의 랭킹 컬럼 한번에 출력

In [53]:
# 가격 분기 데이터 리스트
q_money_li = [weight_plus_q1, weight_plus_q2, weight_plus_q3, weight_plus_q4, weight_plus_q5, weight_plus_q6, weight_plus_q7, weight_plus_q8]

def total_look(df, column, before_q, after_q):
    
    # 1개의 컬럼
    column_name = column + '_증감여부'
    # 고객유형 파악
    for i in range(5):
        df_cust = df[df[column_name] == i]
        
# ! 1. 위에서 생성한 rank 함수 대입
        # 대입할 전분기 데이터
        before_df = q_money_li[before_q-1]
        plus_rank_qbefore = plus_rank(before_df, column)
        # 해당 데이터의 고객유형에 해당하는 데이터만 뽑아오기
        qbefore_ = plus_rank_qbefore.loc[df_cust.index]
        
        # 대입할 해당분기 데이터
        after_df = q_money_li[after_q-1]
        plus_rank_qafter = plus_rank(after_df, column)
        qafter_ = plus_rank_qafter.loc[df_cust.index]
        
# 컬럼명 변경
        qbefore_.columns = [f'{before_q}분기_{column}_rank', f'{before_q}분기_{column}_구매액']
        qafter_.columns = [f'{after_q}분기_{column}_rank', f'{after_q}분기_{column}_구매액']
        
        # 고객유형
        df_cust_value = df_cust[[column_name]]
        
# 데이터 합쳐서 보기
        total_look = pd.concat([df_cust_value, qbefore_, qafter_], axis = 1)
    
        print(f'{before_q}분기 대비 {after_q}분기 {column} 카테고리 랭킹 확인')
        
        print(f'고객유형 {i}')
        display(total_look)
        print()

In [54]:
total_look(df_q1, '가구인테리어/잡화_고가', 1, 2)

1분기 대비 2분기 가구인테리어/잡화_고가 카테고리 랭킹 확인
고객유형 0

,가구인테리어/잡화_고가_증감여부,1분기_가구인테리어/잡화_고가_rank,1분기_가구인테리어/잡화_고가_구매액,2분기_가구인테리어/잡화_고가_rank,2분기_가구인테리어/잡화_고가_구매액
CUSTNO,,,,,
1,0,3362,0.0,3987,0.0
2,0,3362,0.0,3987,0.0
3,0,3362,0.0,3987,0.0
4,0,3362,0.0,3987,0.0
7,0,3362,0.0,3987,0.0
...,...,...,...,...,...
19333,0,3362,0.0,3987,0.0
19334,0,3362,0.0,3987,0.0
19335,0,3362,0.0,3987,0.0
19336,0,3362,0.0,3987,0.0
19337,0,3362,0.0,3987,0.0

1분기 대비 2분기 가구인테리어/잡화_고가 카테고리 랭킹 확인
고객유형 1

,가구인테리어/잡화_고가_증감여부,1분기_가구인테리어/잡화_고가_rank,1분기_가구인테리어/잡화_고가_구매액,2분기_가구인테리어/잡화_고가_rank,2분기_가구인테리어/잡화_고가_구매액
CUSTNO,,,,,
44,1,801,2993381.9,2381,403153.5
50,1,2796,133720.6,3987,0.0
68,1,78,18897072.7,2062,576539.8
70,1,576,4245063.8,1695,882289.8
82,1,507,4820799.2,3987,0.0
...,...,...,...,...,...
19205,1,1966,565479.7,3987,0.0
19211,1,951,2372974.8,3987,0.0
19314,1,9,53296175.5,241,8280217.0
19319,1,851,2763393.8,3987,0.0
19325,1,2234,362632.3,3987,0.0

1분기 대비 2분기 가구인테리어/잡화_고가 카테고리 랭킹 확인
고객유형 2

,가구인테리어/잡화_고가_증감여부,1분기_가구인테리어/잡화_고가_rank,1분기_가구인테리어/잡화_고가_구매액,2분기_가구인테리어/잡화_고가_rank,2분기_가구인테리어/잡화_고가_구매액
CUSTNO,,,,,
27,2,986,2279483.7,1853,737801.2
46,2,57,21839244.1,162,11177405.4
56,2,196,10851996.8,349,6212201.3
73,2,80,18506438.4,189,10093346.8
81,2,1989,543665.1,3090,136213.3
...,...,...,...,...,...
19065,2,1221,1651676.6,1522,1104347.6
19151,2,2725,154685.3,3547,51733.0
19196,2,1194,1696575.0,1249,1516827.1
19200,2,271,8504972.9,688,3314144.0
19267,2,2562,205136.5,2967,170052.0

1분기 대비 2분기 가구인테리어/잡화_고가 카테고리 랭킹 확인
고객유형 3

,가구인테리어/잡화_고가_증감여부,1분기_가구인테리어/잡화_고가_rank,1분기_가구인테리어/잡화_고가_구매액,2분기_가구인테리어/잡화_고가_rank,2분기_가구인테리어/잡화_고가_구매액
CUSTNO,,,,,
22,3,260,8681359.5,35,25550332.6
25,3,3111,55528.1,3067,142851.7
26,3,1322,1443163.0,772,2933421.6
49,3,1378,1351371.8,738,3059520.8
58,3,2371,288179.3,2417,387027.4
...,...,...,...,...,...
18896,3,1372,1359870.9,1152,1729821.5
18964,3,1672,897616.8,1158,1721263.3
19003,3,2369,290105.8,1936,666415.8
19022,3,2166,408811.2,1562,1055878.2
19085,3,2786,135420.5,2674,279378.3

1분기 대비 2분기 가구인테리어/잡화_고가 카테고리 랭킹 확인
고객유형 4

,가구인테리어/잡화_고가_증감여부,1분기_가구인테리어/잡화_고가_rank,1분기_가구인테리어/잡화_고가_구매액,2분기_가구인테리어/잡화_고가_rank,2분기_가구인테리어/잡화_고가_구매액
CUSTNO,,,,,
6,4,3362,0.0,3686,39406.0
10,4,3362,0.0,2483,360716.3
11,4,1733,828954.7,403,5506692.8
17,4,3362,0.0,339,6313747.5
18,4,3362,0.0,2305,443317.3
...,...,...,...,...,...
19300,4,3362,0.0,1021,2048403.7
19304,4,3362,0.0,1856,735578.3
19306,4,3362,0.0,3684,39406.0
19310,4,1998,537829.0,161,11225652.4
19312,4,3362,0.0,1374,1296355.7

## 분기별 고객 유형 데이터

In [3]:
df_q1 = pd.read_csv('생성데이터/q2_q1_df.csv', index_col = 0)
df_q1.head()

,가구인테리어/잡화_고가_증감여부,가구인테리어/잡화_저가_증감여부,가구인테리어/잡화_중가_증감여부,가전/레저취미/멀티샵_고가_증감여부,가전/레저취미/멀티샵_저가_증감여부,가전/레저취미/멀티샵_중가_증감여부,교육문화/아동_고가_증감여부,교육문화/아동_저가_증감여부,교육문화/아동_중가_증감여부,식품/생활_고가_증감여부,식품/생활_저가_증감여부,식품/생활_중가_증감여부,의류/이미용_고가_증감여부,의류/이미용_저가_증감여부,의류/이미용_중가_증감여부,침구/주방_고가_증감여부,침구/주방_저가_증감여부,침구/주방_중가_증감여부
CUSTNO,,,,,,,,,,,,,,,,,,
1,0,2,4,3,0,1,0,0,2,4,4,1,2,0,3,1,0,1
2,0,2,3,2,1,4,0,0,4,3,0,2,2,0,4,2,0,2
3,0,3,0,0,0,0,0,0,0,3,3,4,0,0,4,0,0,0
4,0,2,3,4,4,2,0,0,0,4,4,4,4,2,4,0,4,1
6,4,4,4,0,4,0,0,0,0,2,1,3,2,3,4,4,2,1