# 6분기별 주말비율 계산

## 분기별 데이터 불러오기

In [1]:
import pandas as pd

In [3]:
Q1 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q1.csv", index_col = 0)
Q2 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q2.csv", index_col = 0)
Q3 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q3.csv", index_col = 0)
Q4 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q4.csv", index_col = 0)
Q5 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q5.csv", index_col = 0)
Q6 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q6.csv", index_col = 0)
Q7 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q7.csv", index_col = 0)
Q8 = pd.read_csv("C:/Users/jeoun/Documents/GitHub/study/study/2차 플젝/정현's 데이터/total_Q8.csv", index_col = 0)

## 6분기로 묶기

In [5]:
# 1-6분기
purchase_Q1_Q6 = pd.concat([Q1, Q2, Q3, Q4, Q5, Q6], axis = 0)

# 2-7분기
purchase_Q2_Q7 = pd.concat([Q2, Q3, Q4, Q5, Q6, Q7], axis = 0)

# 3-8분기
purchase_Q3_Q8 = pd.concat([Q3, Q4, Q5, Q6, Q7, Q8], axis = 0)

In [6]:
purchase_Q1_Q6.shape, purchase_Q2_Q7.shape, purchase_Q3_Q8.shape

((21134178, 17), (21653428, 17), (21568361, 17))

## 주말/평일 구분 사용자함수 생성

### 주말 사용자 함수 생성

In [7]:
import pandas as pd
from datetime import datetime
  
def weekdayorweekend(d):
    date_d = datetime.strptime(str(d), '%Y%m%d')
    x = date_d.weekday()
    day = ''
    
    if x < 5:
        day= '평일'
    else:  
        day= '주말'
        
    return day

In [8]:
purchase_Q1_Q6['평일/주말'] = purchase_Q1_Q6['PURDATE'].apply(lambda x: weekdayorweekend(x))
purchase_Q2_Q7['평일/주말'] = purchase_Q2_Q7['PURDATE'].apply(lambda x: weekdayorweekend(x))
purchase_Q3_Q8['평일/주말'] = purchase_Q3_Q8['PURDATE'].apply(lambda x: weekdayorweekend(x))

## 6분기별로 주말비율 피벗테이블 생성

In [9]:
week_cust_Q1_Q6 = pd.pivot_table(purchase_Q1_Q6, 
                                index= 'CUSTNO',
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

week_cust_Q2_Q7 = pd.pivot_table(purchase_Q2_Q7, 
                                index= 'CUSTNO' ,
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

week_cust_Q3_Q8 = pd.pivot_table(purchase_Q3_Q8, 
                                index= 'CUSTNO' ,
                                columns= ['평일/주말'],
                                values= 'PURDATE',
                                aggfunc= 'count')

In [10]:
week_cust_Q3_Q8.head()

평일/주말      주말     평일
CUSTNO
1       183.0  636.0
2       209.0  568.0
3       175.0  668.0
4       137.0  523.0
6       285.0  924.0

## 저장하기

In [11]:
week_cust_df_li = [week_cust_Q1_Q6, week_cust_Q2_Q7, week_cust_Q3_Q8]

for i in range(3):
    df = week_cust_df_li[i]
    df['주말 비율'] = df['주말']/(df['주말'] + df['평일'])
    display(df)
    df.to_csv(f'C:/cakd7/생성데이터/주말비율/주말비율_q{i+1}_q{i+6}.csv')

평일/주말      주말      평일     주말 비율
CUSTNO
1       198.0   708.0  0.218543
2       271.0   600.0  0.311137
3       152.0   807.0  0.158498
4       165.0   540.0  0.234043
6       289.0   857.0  0.252182
...       ...     ...       ...
19333   237.0   454.0  0.342981
19334   489.0  1395.0  0.259554
19335   278.0  1156.0  0.193863
19336   128.0   210.0  0.378698
19337   125.0   625.0  0.166667

[18866 rows x 3 columns]

평일/주말      주말      평일     주말 비율
CUSTNO
1       206.0   652.0  0.240093
2       217.0   596.0  0.266913
3       190.0   769.0  0.198123
4       168.0   562.0  0.230137
6       301.0   881.0  0.254653
...       ...     ...       ...
19333   208.0   415.0  0.333868
19334   454.0  1330.0  0.254484
19335   294.0  1254.0  0.189922
19336   132.0   249.0  0.346457
19337   174.0   873.0  0.166189

[18866 rows x 3 columns]

평일/주말      주말      평일     주말 비율
CUSTNO
1       183.0   636.0  0.223443
2       209.0   568.0  0.268983
3       175.0   668.0  0.207592
4       137.0   523.0  0.207576
6       285.0   924.0  0.235732
...       ...     ...       ...
19333   166.0   377.0  0.305709
19334   290.0  1045.0  0.217228
19335   277.0  1206.0  0.186784
19336   123.0   231.0  0.347458
19337   255.0  1038.0  0.197216

[18866 rows x 3 columns]