In [2]:
import pandas as pd


df2= pd.read_csv('purchase2_include_pt.csv')
df1 = pd.read_csv('purchase1_include_pt.csv')

In [3]:
purchase = pd.concat([df1, df2], axis=0, ignore_index=True)
purchase

,Unnamed: 0,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28255863,28593025,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가
28255864,28593026,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가
28255865,28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가
28255866,28593028,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가
28255867,28593029,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가

In [5]:
purchase.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [9]:
null_idx = purchase[purchase['PRICE_TYPE'].isnull()].index.tolist()

In [10]:
for idx in null_idx:
    if purchase.loc[idx]['ASSO'] == 'A' and purchase.loc[idx]['MCL'] == '란제리/내의':
        purchase.loc[idx,'PRICE_TYPE'] = '고가'
    elif purchase.loc[idx]['ASSO'] == 'A' and purchase.loc[idx]['MCL'] == '웨딩':
        purchase.loc[idx,'PRICE_TYPE'] = '중가'
    elif purchase.loc[idx]['ASSO'] == 'B' and purchase.loc[idx]['MCL'] in ('성인내의','란제리','스타킹','아동내의','언더웨어행사', '덧신','홈웨어'):
        purchase.loc[idx,'PRICE_TYPE'] = '저가'
    elif purchase.loc[idx]['ASSO'] == 'B' and purchase.loc[idx]['MCL'] == '란제리브랜드':
        purchase.loc[idx,'PRICE_TYPE'] = '중가'

In [11]:
purchase

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28255863,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가
28255864,18484,B,26,7946814,가구인테리어/잡화,잡화,여성양말,여성발가락,일용품,20141227,2014,4,12,14,1000,저가
28255865,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가
28255866,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가
28255867,11509,B,29,8123279,가전/레저취미/멀티샵,레저취미,시니어건강용품,침실용품,일용품,20150821,2015,3,8,13,2800,중가

## 고객별 구매액 총합

In [14]:
total = pd.pivot_table(data = purchase,
                         index = 'CUSTNO',
                         
                         values = 'PURAMT',
                         aggfunc = 'sum')
total

          PURAMT
CUSTNO
1       85042550
2       99880760
3        3165167
4       16693810
6       24506417
...          ...
19333    4737498
19334   12353531
19335   16700479
19336   30610840
19337    4976309

[18866 rows x 1 columns]

## 고객별 식품 총합

In [15]:
purchase_food = purchase[purchase['BCL'] =='식품']
purchase_food

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE
0,17218,B,44,8664000,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,20,2420,중가
1,11303,B,44,8664007,식품/생활,식품,탄산음료,사이다,일용품,20140222,2014,1,2,13,2400,중가
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가
3,13823,B,12,6956422,식품/생활,식품,탄산음료,사이다,일용품,20140813,2014,3,8,18,2250,중가
4,18970,B,12,6957156,식품/생활,식품,탄산음료,사이다,일용품,20140831,2014,3,8,22,4900,중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28255860,1801,B,135,11096580,식품/생활,식품,탄산음료,온라인 탄산음료,일용품,20150725,2015,3,7,10,22780,중가
28255861,9039,B,90,9922930,식품/생활,식품,약초,둥글레,일용품,20140102,2014,1,1,20,11800,중가
28255863,134,B,16,7269975,식품/생활,식품,전통과자,온라인팥빙수재료,일용품,20141130,2014,4,11,15,8900,저가
28255865,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가
28255866,4073,B,18,7579178,식품/생활,식품,마른안주,온라인 안주,일용품,20140125,2014,1,1,20,8900,중가

In [17]:
total_food = pd.pivot_table(data = purchase_food,
                         index = 'CUSTNO',
                         
                         values = 'PURAMT',
                         aggfunc = 'sum')
total_food

          PURAMT
CUSTNO
1       12010920
2       14963860
3        2801027
4        5759580
6        8795677
...          ...
19333    4610688
19334    9625641
19335    6855855
19336    3966650
19337    4239399

[18866 rows x 1 columns]

## 엥겔지수

In [19]:
engel = pd.DataFrame((total_food['PURAMT'] / total['PURAMT'])*100)
engel

           PURAMT
CUSTNO
1       14.123424
2       14.981724
3       88.495394
4       34.501291
6       35.891322
...           ...
19333   97.323271
19334   77.918135
19335   41.051846
19336   12.958318
19337   85.191635

[18866 rows x 1 columns]