## 분류로직 데이터 불러오기

In [2]:
import pandas as pd
df_q6 = pd.read_csv('C:/cakd7/2차 프로젝트/total_Q6.csv', index_col=0)
df_q6.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
5,15642,B,9,6817184,식품/생활,식품,탄산음료,사이다,일용품,20150607,2015,2,6,22,2180,중가,식품/생활_중가
7,4996,B,68,9378229,식품/생활,식품,탄산음료,사이다,일용품,20150524,2015,2,5,17,1960,중가,식품/생활_중가
13,17317,B,126,10743578,식품/생활,식품,탄산음료,사이다,일용품,20150401,2015,2,4,19,4730,중가,식품/생활_중가
14,6539,B,52,8997589,식품/생활,식품,탄산음료,사이다,일용품,20150522,2015,2,5,20,2500,중가,식품/생활_중가
22,7791,B,94,10072715,식품/생활,식품,탄산음료,사이다,일용품,20150519,2015,2,5,21,990,중가,식품/생활_중가

In [3]:
df_q7 = pd.read_csv('total_Q7.csv', index_col=0)
df_q7.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
2,13210,B,48,8919520,식품/생활,식품,탄산음료,사이다,일용품,20150921,2015,3,9,19,5250,중가,식품/생활_중가
6,7240,B,75,9571864,식품/생활,식품,탄산음료,사이다,일용품,20150914,2015,3,9,17,680,중가,식품/생활_중가
10,15946,B,52,9005896,식품/생활,식품,탄산음료,사이다,일용품,20150817,2015,3,8,12,550,중가,식품/생활_중가
11,16824,B,52,9006111,식품/생활,식품,탄산음료,사이다,일용품,20150819,2015,3,8,16,550,중가,식품/생활_중가
16,11493,B,83,9783321,식품/생활,식품,탄산음료,사이다,일용품,20150827,2015,3,8,21,2680,중가,식품/생활_중가

In [4]:
df_q8 = pd.read_csv('total_Q8.csv', index_col=0)
df_q8.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
9,2492,B,44,8767387,식품/생활,식품,탄산음료,사이다,일용품,20151023,2015,4,10,14,600,중가,식품/생활_중가
15,10474,B,26,7957189,식품/생활,식품,탄산음료,사이다,일용품,20151116,2015,4,11,22,1980,중가,식품/생활_중가
17,12059,B,21,7778593,식품/생활,식품,탄산음료,사이다,일용품,20151124,2015,4,11,20,1100,중가,식품/생활_중가
18,13778,B,36,8490944,식품/생활,식품,탄산음료,사이다,일용품,20151020,2015,4,10,18,1380,중가,식품/생활_중가
44,6271,B,68,9383318,식품/생활,식품,탄산음료,사이다,일용품,20151227,2015,4,12,14,1200,중가,식품/생활_중가

In [5]:
import pandas as pd
final_cat = pd.read_excel('최종cat순서나열.xlsx', index_col=0)
final_cat.drop(columns=['대분류코드'], inplace=True)

In [6]:
final_cat.drop(columns=['구매금액_min', '구매금액_max', '구매금액_mean'], inplace=True)

In [7]:
final_cat

     제휴사 금액 타입 대분류명_y 중분류명             소분류명  UPRICE     QTY    AVG  AVGVS
0      B    저가     식품   버섯              건버섯    3017  123931   7926    0.4
1      B    저가     식품   버섯            느타리버섯    3017  123931   7926    0.4
2      B    저가     식품   버섯             버섯모둠    3017  123931   7926    0.4
3      B    저가     식품   버섯           버섯선물세트    3017  123931   7926    0.4
4      B    저가     식품   버섯            새송이버섯    3017  123931   7926    0.4
...   ..   ...    ...  ...              ...     ...     ...    ...    ...
4611   A    중가    멀티샵   기타         PECK G&C   96379     649  96379    1.0
4612   A    중가    멀티샵   기타  PECK Restaurant   96379     649  96379    1.0
4613   A    중가    멀티샵   기타            멘즈셀렉샵   96379     649  96379    1.0
4614   A    중가    멀티샵   기타           스테이셔너리   96379     649  96379    1.0
4615   A    중가    멀티샵   기타             팩토리샵   96379     649  96379    1.0

[4616 rows x 9 columns]

In [8]:
df = pd.concat([df_q6, df_q7, df_q8], axis=0)
df

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
5,15642,B,9,6817184,식품/생활,식품,탄산음료,사이다,일용품,20150607,2015,2,6,22,2180,중가,식품/생활_중가
7,4996,B,68,9378229,식품/생활,식품,탄산음료,사이다,일용품,20150524,2015,2,5,17,1960,중가,식품/생활_중가
13,17317,B,126,10743578,식품/생활,식품,탄산음료,사이다,일용품,20150401,2015,2,4,19,4730,중가,식품/생활_중가
14,6539,B,52,8997589,식품/생활,식품,탄산음료,사이다,일용품,20150522,2015,2,5,20,2500,중가,식품/생활_중가
22,7791,B,94,10072715,식품/생활,식품,탄산음료,사이다,일용품,20150519,2015,2,5,21,990,중가,식품/생활_중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28592979,12700,A,42,5773094,가전/레저취미/멀티샵,레저취미,스포츠,마운틴하드웨어,선매품,20151226,2015,4,12,21,343000,중가,가전/레저취미/멀티샵_중가
28592996,7986,A,49,5501732,가전/레저취미/멀티샵,레저취미,골프용품,글로벌골프프라자,사치품,20151114,2015,4,11,15,1800000,고가,가전/레저취미/멀티샵_고가
28593005,8691,B,8,6770284,가전/레저취미/멀티샵,레저취미,스포츠ACC,스포츠가방,일용품,20151205,2015,4,12,23,24800,저가,가전/레저취미/멀티샵_저가
28593011,890,A,47,5273860,가전/레저취미/멀티샵,레저취미,스포츠,풋조이,선매품,20151009,2015,4,10,11,245000,중가,가전/레저취미/멀티샵_중가
28593027,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가,식품/생활_중가

In [10]:
df.reset_index(inplace=True, drop=True)

In [11]:
df

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT
0,15642,B,9,6817184,식품/생활,식품,탄산음료,사이다,일용품,20150607,2015,2,6,22,2180,중가,식품/생활_중가
1,4996,B,68,9378229,식품/생활,식품,탄산음료,사이다,일용품,20150524,2015,2,5,17,1960,중가,식품/생활_중가
2,17317,B,126,10743578,식품/생활,식품,탄산음료,사이다,일용품,20150401,2015,2,4,19,4730,중가,식품/생활_중가
3,6539,B,52,8997589,식품/생활,식품,탄산음료,사이다,일용품,20150522,2015,2,5,20,2500,중가,식품/생활_중가
4,7791,B,94,10072715,식품/생활,식품,탄산음료,사이다,일용품,20150519,2015,2,5,21,990,중가,식품/생활_중가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10916630,12700,A,42,5773094,가전/레저취미/멀티샵,레저취미,스포츠,마운틴하드웨어,선매품,20151226,2015,4,12,21,343000,중가,가전/레저취미/멀티샵_중가
10916631,7986,A,49,5501732,가전/레저취미/멀티샵,레저취미,골프용품,글로벌골프프라자,사치품,20151114,2015,4,11,15,1800000,고가,가전/레저취미/멀티샵_고가
10916632,8691,B,8,6770284,가전/레저취미/멀티샵,레저취미,스포츠ACC,스포츠가방,일용품,20151205,2015,4,12,23,24800,저가,가전/레저취미/멀티샵_저가
10916633,890,A,47,5273860,가전/레저취미/멀티샵,레저취미,스포츠,풋조이,선매품,20151009,2015,4,10,11,245000,중가,가전/레저취미/멀티샵_중가
10916634,5043,B,21,7777110,식품/생활,식품,즉석구이안주,즉석쥐포,일용품,20151012,2015,4,10,22,4510,중가,식품/생활_중가

In [13]:
df['ASSO_SCL'] = df['ASSO'] + '_' + df['SCL']

In [14]:
df.head()

,CUSTNO,ASSO,STCODE,RNO,BBCL,BCL,MCL,SCL,TYPE,PURDATE,PURYEAR,QUARTER,PURMONTH,PURHOUR,PURAMT,PRICE_TYPE,TOTAL_CAT,ASSO_SCL
0,15642,B,9,6817184,식품/생활,식품,탄산음료,사이다,일용품,20150607,2015,2,6,22,2180,중가,식품/생활_중가,B_사이다
1,4996,B,68,9378229,식품/생활,식품,탄산음료,사이다,일용품,20150524,2015,2,5,17,1960,중가,식품/생활_중가,B_사이다
2,17317,B,126,10743578,식품/생활,식품,탄산음료,사이다,일용품,20150401,2015,2,4,19,4730,중가,식품/생활_중가,B_사이다
3,6539,B,52,8997589,식품/생활,식품,탄산음료,사이다,일용품,20150522,2015,2,5,20,2500,중가,식품/생활_중가,B_사이다
4,7791,B,94,10072715,식품/생활,식품,탄산음료,사이다,일용품,20150519,2015,2,5,21,990,중가,식품/생활_중가,B_사이다

In [15]:
final_cat['ASSO_SCL'] = final_cat['제휴사'] + '_' + final_cat['소분류명']

## df1 상품별 구매건수

In [16]:
pivot = pd.pivot_table(df, index='CUSTNO', columns='ASSO_SCL', values='RNO', aggfunc='count')
pivot

ASSO_SCL,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,A_BON,A_Bag&Bag,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19335,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19336,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 상품별 단가 가중치 곱해주기

In [17]:
col_list =list(pivot.columns)

for col in col_list:
    for cat in list(final_cat['ASSO_SCL']):
        if col == cat:
            index = int(final_cat[final_cat['ASSO_SCL']==cat].index[0])
            pivot[col] = pivot[col] * final_cat.loc[index,'AVGVS']
            break
        else:
            pass
            
        
pivot

ASSO_SCL,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,A_BON,A_Bag&Bag,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6,NaN,NaN,NaN,NaN,NaN,NaN,0.6,NaN,0.2
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19335,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19336,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#확인
final_cat[final_cat['ASSO_SCL']=='A_4대 B/D']

     제휴사 금액 타입 대분류명_y  중분류명    소분류명  UPRICE    QTY     AVG  AVGVS  ASSO_SCL
3680   A    중가     잡화  피혁잡화  4대 B/D  258611  32246  138394    1.9  A_4대 B/D

### 확인해봄

In [19]:
pivot.isnull().sum().sum()

57916682

In [20]:
pivot21 = pivot.copy()
final_cat21 = final_cat.copy()

In [21]:
pivot21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18866 entries, 1 to 19337
Columns: 3254 entries, A_14K to D_혼합탄산
dtypes: float64(3254)
memory usage: 468.5 MB

In [22]:
col_list =list(pivot21.columns)

for col in col_list:
    for cat in list(final_cat21['ASSO_SCL']):
        if col == cat:
            pivot21[col] = '확인'
            
            
            
            break
        else:
            pass
            
        
pivot21

ASSO_SCL,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,A_BON,A_Bag&Bag,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
2,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
3,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
4,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
6,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
19334,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
19335,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
19336,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인
19337,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인,...,확인,확인,확인,확인,확인,확인,확인,확인,확인,확인

In [23]:
pivot21.isnull().sum().sum()

0

## 분모 구함

In [24]:
cust_f_sum = pd.pivot_table(df, index='CUSTNO', values='RNO', aggfunc='count')
cust_f_sum

        RNO
CUSTNO
1       291
2       361
3       365
4       366
6       607
...     ...
19333   214
19334   250
19335   674
19336   135
19337   790

[18866 rows x 1 columns]

In [66]:
#확인 #17.7 
final_cat[final_cat['ASSO_SCL']=='A_건강식품(비타민)']

,제휴사,금액 타입,대분류명_y,중분류명,소분류명,UPRICE,QTY,AVG,AVGVS,ASSO_SCL
2003,A,고가,식품,건강식품,건강식품(비타민),139926,53366,7926,17.7,A_건강식품(비타민)

## 구매지수 계산

In [25]:
df = pivot.join(cust_f_sum, how='outer')
df

,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,A_BON,A_Bag&Bag,...,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산,RNO
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,291
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.6,NaN,0.2,361
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,365
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,366
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,214
19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250
19335,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,674
19336,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,790

In [27]:
final_df = df.iloc[:,:-1].div(df["RNO"], axis=0)
final_df

,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,A_BON,A_Bag&Bag,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
CUSTNO,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.006529,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001662,NaN,NaN,NaN,NaN,NaN,NaN,0.001662,NaN,0.000554
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19335,NaN,0.002819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19336,0.007407,NaN,NaN,NaN,NaN,NaN,NaN,0.013333,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
final_df.to_csv('purchase_index_1027.csv')

In [54]:
pip install scikit-surprise

Collecting scikit-surpriseNote: you may need to restart the kernel to use updated packages.
  Using cached scikit-surprise-1.1.3.tar.gz (771 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'

Requirement already satisfied: joblib>=1.0.0 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from scikit-surprise) (1.22.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from scikit-surprise) (1.8.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py): started
  Building wheel for scikit-surprise (setup.py): finished with status 'done'
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp39-cp39-win_amd64.whl size=1095014 sha256=d25df2bb85912fffe292732105320b98b06677fcaf61394a2fbc9ce37609069d
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\10\bc\66\1e588b3f2aedb617b1bedc0f24981c917c95246a020c7c1975
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [38]:
import pandas as pd

df = pd.read_csv('purchase_index_1027.csv')
df

,CUSTNO,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,A_BON,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001662,NaN,NaN,NaN,NaN,NaN,NaN,0.001662,NaN,0.000554
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18862,19334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18863,19335,NaN,0.002819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18864,19336,0.007407,NaN,NaN,NaN,NaN,NaN,NaN,0.013333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18865,19337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18866 entries, 1 to 19337
Columns: 3254 entries, A_14K to D_혼합탄산
dtypes: float64(3254)
memory usage: 469.0 MB

In [39]:
df.fillna(0, inplace=True)

In [40]:
df

,CUSTNO,A_14K,A_4대 B/D,A_5 ON THE GO,A_ACC Bloom (1F),A_ACC Bloom (3F),A_AK골프,A_ANDZ,A_ARCHIV,A_BON,...,D_핸드워시/손세정제,D_향초,D_허브/꽃차,D_헤어드라이어,D_헤어무스/젤,D_헤어세팅기,D_헤어스프레이,D_헤어에센스,D_헤어왁스,D_혼합탄산
0,1,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
1,2,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.001662,0.0,0.0,0.0,0.0,0.0,0.0,0.001662,0.0,0.000554
2,3,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
3,4,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
4,6,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
18862,19334,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
18863,19335,0.000000,0.002819,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
18864,19336,0.007407,0.000000,0.0,0.0,0.0,0.0,0.0,0.013333,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
18865,19337,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000

In [49]:
df.set_index('CUSTNO', inplace=True)

In [51]:
surprise_df = pd.DataFrame(df.stack(dropna=True))
surprise_df

                           0
CUSTNO
1      A_14K             0.0
       A_4대 B/D          0.0
       A_5 ON THE GO     0.0
       A_ACC Bloom (1F)  0.0
       A_ACC Bloom (3F)  0.0
...                      ...
19337  D_헤어세팅기           0.0
       D_헤어스프레이          0.0
       D_헤어에센스           0.0
       D_헤어왁스            0.0
       D_혼합탄산            0.0

[61389964 rows x 1 columns]

In [61]:
pd.options.display.float_format = '{:.1f}'.format

In [62]:
surprise_df.describe()

          CUSTNO          0
count 61389964.0 61389964.0
mean      9575.7        0.0
std       5556.8        0.0
min          1.0        0.0
25%       4763.0        0.0
50%       9537.5        0.0
75%      14359.0        0.0
max      19337.0        8.1

In [53]:
surprise_df.reset_index(inplace=True)

In [65]:
surprise_df[surprise_df[0] > 1]

          CUSTNO      level_1   0
81422         27   A_건강식품(홍삼) 1.0
221556        70       A_수입의류 1.1
231318        73       A_수입의류 1.4
429812       134       A_수입의류 1.3
465606       146       A_수입의류 1.3
...          ...          ...  ..
56548082   17724       A_건강식품 1.2
57014520   17868         B_분유 1.5
59068398   18531        B_주유소 3.1
60006580   18840        C_일반미 1.7
61045111   19193  A_건강식품(비타민) 8.1

[124 rows x 3 columns]

In [1]:
surprise_df.to_csv('surprise_dataset_1027.csv')

NameError: name 'surprise_df' is not defined

In [ ]:
import pan

In [57]:
61389964/2

30694982.0

In [58]:
surprise_df1 = surprise_df[:30694982]
surprise_df2 = surprise_df[30694982:]

In [59]:
surprise_df1.to_csv('surprise_dataset1_1027.csv')
surprise_df2.to_csv('surprise_dataset2_1027.csv')

In [72]:
surprise_df.to_csv('surprise_dataset_1027.csv', index=False, header=False)

In [2]:
import pandas as pd
surprise_df = pd.read_csv('surprise_dataset_1027.csv')

In [ ]:
from surprise.dataset import DatasetAutoFolds
from surprise import Reader, Dataset
from surprise.model_selection import train_test_split

# reader = Reader(line_format='custno scl purchase timestamp', sep=',', rating_scale=(0.5,8.1))
reader = Reader(rating_scale=(0,8.1))
data = Dataset.load_from_df(surprise_df, reader=reader)
# data_folds = DatasetAutoFolds(ratings_file='surprise_dataset_1027.csv', reader=reader)
# trainset = data_folds_build_full_trainset()
trainset, testset = train_test_split(data,test_size=.25,random_state=0)
algo = SVD(n_epochs=20, n_factors=50, random_state=0)
algo.fit(trainset)
predictions = algo.test(testset)
print(round(accuracy.rmse(predictions),4))